<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Test Stimulus Request" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-800">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a href="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
          <svg class="w-10 h-10 mr-3 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
          </svg>
          Test Stimulus Request
        </a>
        <div class="md:flex-grow flex gap-4 justify-end">
          <%= link_to "Foos", foos_path, class: "block mt-4 md:inline-block md:mt-0 text-white hover:text-gray-200" %>
          <%= link_to "Bars", bars_path, class: "block mt-4 md:inline-block md:mt-0 text-white hover:text-gray-200" %>
        </div>
        
      </div>
    </nav>
    <main class="container mx-auto py-8 px-5 space-y-4">
      <%= yield %>
    </main>
    <%= render "layouts/shared/dialog" %>
  </body>
</html>
